.container-fluid{
  background-image: url(/images/delani\ home\ page.jpg);
  text-align: center;
  height:100vh;
  opacity: 1;
  color:white;
  padding-top: 15%;
  background-size: cover;
}
#ms{
  padding-top:15%;
}
#about{
  padding-top: 60px;
  text-align: center;
  padding: 12px;
  font-family: "Sofia";
  font-size: 17px;
}
#serve{
  background-image: url(/images/s_image.jpg);
  background-size: cover;
  text-align: center;
  color:white;
  font-family: "Aclonica";
  padding: 70px;
  font-size:20px;
}
bo
  scroll-behavior: smooth;
}
#do{
  text-align: center;
  padding-top: 18px;
}
#photos{
  display: flex;
  flex-direction: row;
  padding: 12px;
text-align: center;
}
#contacts{
  background-image: url(/images/c_image.jpg);;
block-size: cover;
text-align: center;
 height:60vh;
 padding-top: 12px;
 margin-top:12%;

}