.container{
  background-image: url(/images/delani\ home\ page.jpg);
  text-align: center;
  height: 680px;
  opacity: 1;
  color:white;
  padding-top: 15%;
  background-size: cover;
}
#ms{
  padding-top:6%;
}
#about{
  text-align: center;
  padding: 12px;
  font-family: "aclonica";
  font-size: 17px;
}